{% extends 'base2.html' %}

{% block body %}
    	 <section>
			<div id="page-wrapper" class="sign-in-wrapper">
				<div class="graphs">
					<div class="sign-in-form">
						<div class="sign-in-form-top">
							<h1>Password has been successfully changed</h1><br/>
                            <p><a style="color: black; text-decoration: none;" href="#">Login from here</a></p>
						</div>
						
					</div>
				</div>
			</div>
		<!--footer section start-->
			<footer style="padding-bottom: none !important;" class="diff">
			   <p class="text-center">&copy 2020 Ghana Sell. All Rights Reserved | Design by <a href="#" target="_blank">Akofena.</a></p>
			</footer>
        <!--footer section end-->
	</section>
{% endblock body %}

